footer{
    background-color: rgb(47, 44, 44);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: rgb(242, 219, 219);
    gap: 25px;
    margin-top: 30px;
}